
// color
$deep_blue: #031418;
$orange: #EC9B52;
$gray: #F6F6F6;
$blue: #52a2ec;

// $text_color: #4A4B4E;
$text_color: #595A5D;
$subtext_color: #747477;
$border_color: #E0E0E0;


// font-familiy
$sans-serif: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
$serif: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif;

//size
$pc_width: 940px;
$tablet_width: 768px;
$sp_width: 540px;
$header_height: 40px;


@import url(https://fonts.googleapis.com/css?family=Roboto);


input[type="button"],input[type="submit"] {
  -webkit-appearance: none;
}

a {
	text-decoration: none;
}

@mixin heading_bg() {
	height: 180px;
	flex-basis: 100%;
	background-size: 1300px auto;
	background-position: 50% 80%;
	background-color: $gray;

	@media screen and (min-width: 1300px) {
		background-size: cover;
	}
	@media screen and (max-width: 768px) {
		height: 150px;
		background-size: 900px auto;
	}
	@media screen and (max-width: 540px) {
		height: 110px;
		background-size: 600px auto;
	}
}

@mixin h1_sub() {
	font-size: 200%;
	// font-weight: bold;
	color: #fff;
	line-height: 190px;
	text-align: center;
	text-shadow: 0 0 4px rgba(#000, 0.5);
	
	@media screen and (max-width: 768px) {
		line-height: 160px;
	}
	@media screen and (max-width: 540px) {
		line-height: 125px;
		font-size: 160%;
	}
}

@mixin container() {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	color: $text_color;
	margin: 0 auto;
	margin-top: $header_height;
}


/*

Break Point
940px
768px
540px

// */