
@import "../config/config";

$about_pc_width: 700px;
$about_tablet_width: 490px;

@mixin holder($width) {
	padding: 40px 0;
	width: $width;
}

@mixin h2() {
	font-size: 14px;
	font-weight: bold;
	height: 20px;
}

.about-container {
	@include container();

/*   Heading  */
	
	#heading_bg {
		background: url(../img/bg_about.jpg);
		@include heading_bg();

		h1 {
			@include h1_sub;
			background: rgba(#000, 0.10);
		}
	}

@media screen and (min-width: 1300px) {
	#heading_bg {
		background-size: cover;
	}
}

/*  Profile  */

	.plofile {
		flex-basis: 100%;

		.holder {
			@include holder($about_pc_width);
			margin: 0 auto;

			h2 {
				@include h2();
				padding-bottom: 2px;
				border-bottom: 1px solid $border_color;
			}
			img {
				width: 215px;
				border-radius: 215px;
				margin: 20px 20px;
			}
			dl {
				display: inline-block;
				vertical-align: top;
				margin-left: 60px;
				margin-top: 15px;
			}
			dt {
				margin-top: 10px;
				font-size: 11px;
			}
			dd {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}


/*  Skills  */

	.skills {
		background: $gray;
		flex-basis: 50%;

		.holder {
			@include holder($about_pc_width/2);
			margin-left: auto;

			h2 {
				@include h2();
			}
			
			dl {
				margin-top: 15px;
				display: flex;
				flex-wrap: wrap;
			}

			$list_height: 32px;
			dt {
				height: $list_height;
				line-height: $list_height;
				flex: 34%;
				// border-bottom: 1px solid $border_color;
			}
			dd {
				height: $list_height;
				flex: 35%;
				margin-right: 25%;	
				vertical-align: top;
				// border-bottom: 1px solid $border_color;
			}

			@mixin star_circle($color) {
				background: $color;
				width: 8px;
				height: 8px;
				border-radius: 8px;
				display: inline-block;
				margin-left: 14px;
				margin-top: 12px;
			}

			.circle_red {
				@include star_circle(#FC9494);		
			}
			.circle_green {
				@include star_circle(#94FCBA);
			}
			.circle_blue {
				@include star_circle(#94D2FC);
			}
			.circle_orange {
				@include star_circle(#FCD194);
			}
		}
	}

@media screen and (max-width: 768px) {
	.skills {
		flex-basis: 100%;
		background: none;
		margin-left: 0px;
		padding: 0 20px;

		.holder {
			@include holder($about_tablet_width);
			margin: 0 auto;

			h2 {
				border-bottom: 1px solid $border_color;
			}

			dl {
				padding: 0 30px;
			}
		}
	}
}


/*  Experience  */

	.experience {
		background: $gray;
		flex-basis: 50%;

		.holder {
			@include holder($about_pc_width/2);
			margin-right: auto;
			margin-left: 10px;

			h2 {
				@include h2();
			}

			dl {
				margin-top: 15px;
				display: flex;
				flex-wrap: wrap;
			}
			dt {
				flex-basis: 50%;
				height: 45px;

				.month {
					
				}
				.term {
					font-size: 10px;
					margin-top: -2px;
					color: $subtext_color;
				}
			}
			dd {
				flex-basis: 50%;
				height: 45px;


				.company {
					vertical-align: top;
					font-size: 14px;
					color: $text_color;
				}
				.company:hover {
					text-decoration: underline;
				}
				.role {
					font-size: 10px;
					margin-top: -2px;
					color: $subtext_color;
				}
			}
		}
	}

@media screen and (max-width: 768px) {
	.experience {
		flex-basis: 100%;
		background: none;
		padding: 0 20px;

		.holder {
			@include holder($about_tablet_width);
			margin: 0 auto;

			h2 {
				border-bottom: 1px solid $border_color;
			}

			dl {
				margin-top: 30px;
				padding: 0 30px;
			}
		}
	}
}


/*  Avout this site  */

	.about_this_site {
		flex-basis: 100%;
		padding-bottom: 20px;

		.holder {
			@include holder($about_pc_width);
			height: 100%;
			margin: 0 auto;

			h2 {
				@include h2();
			}

			.description {
				margin-top: 15px;

				p {
					font-size: 13px;
					margin-top: 10px;
					line-height: 1.8em;

					a {
						color: #1BA6D3;
					}
					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

@media screen and (max-width: 768px) {
	.about_this_site {
		flex-basis: 100%;
		background: none;
		padding: 0 20px;

		.holder {
			@include holder($about_tablet_width);
			margin: 0 auto;

			h2 {
				border-bottom: 1px solid $border_color;
			}

			dl {
				margin-top: 30px;
				padding: 0 30px;
			}
		}
	}
}


}

@media screen and (max-width: 540px) {
	.about-contaner {

	}
}
	
