
@import "../config/config";

$about_pc_width: 700px;
$about_tablet_width: 490px;

@mixin holder($ratio) {

	padding: 40px 0;
	width: $about_pc_width/$ratio;
	@media screen and (max-width: 768px) {
		width: $about_tablet_width/$ratio;
	}
	@media screen and (max-width: 540px) {
		padding: 20px 15px;
		width: auto;
	}
}

@mixin h2() {
	font-weight: bold;
	height: 20px;
}

.about-container {
	@include container();

/*   Heading  */
	
	#heading_bg {
		background: url(../img/bg/about.jpg);
		@include heading_bg();

		h1 {
			@include h1_sub;
		}
	}


/*  Profile  */

	.plofile {
		flex-basis: 100%;

		.holder {
			@include holder(1);
			margin: 0 auto;

			h2 {
				@include h2();
				padding-bottom: 2px;
				border-bottom: 1px solid $border_color;
			}
			img {
				width: 215px;
				border-radius: 215px;
				margin: 20px 20px;
			}
			dl {
				display: inline-block;
				vertical-align: top;
				margin-left: 60px;
				margin-top: 14px;
			}
			dt {
				margin-top: 10px;
				font-size: 73%;
				color: $subtext_color;
			}
			dd {
				font-weight: bold;
				line-height: 1.6em;

				p.pc_inline {
					display: inline;
				}
			}
		}
	}

@media screen and (max-width: 768px) {
	.plofile {
		.holder {
			img {
				width: 180px;
				height: 180px;
				margin-top: 50px;
			}
			dl {
				width: auto;
				margin-left: 35px;
			}
			dd {
				p.pc_inline {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 540px) {
	.plofile {
		.holder {
			img {
				display: none;
			}
			dl {
				margin-left: 10%;
			}
			dd {

			}
		}
	}
}
/*  Skills  */

	.skills {
		background: $gray;
		flex-basis: 50%;

		.holder {
			@include holder(2);
			margin-left: auto;

			h2 {
				@include h2();
			}
			
			dl {
				margin-top: 15px;
				display: flex;
				flex-wrap: wrap;
			}

			$list_height: 32px;
			dt {
				height: $list_height;
				line-height: $list_height;
				flex: 34%;
				// border-bottom: 1px solid $border_color;
			}
			dd {
				height: $list_height;
				flex: 35%;
				margin-right: 25%;	
				vertical-align: top;
				// border-bottom: 1px solid $border_color;
			}

			@mixin star_circle($color) {
				background: $color;
				width: 8px;
				height: 8px;
				border-radius: 8px;
				display: inline-block;
				margin-left: 14px;
				margin-top: 12px;
			}

			.circle_red {
				@include star_circle(#FC9494);		
			}
			.circle_green {
				@include star_circle(#94FCBA);
			}
			.circle_blue {
				@include star_circle(#94D2FC);
			}
			.circle_orange {
				@include star_circle(#FCD194);
			}
		}
	}

@media screen and (max-width: 768px) {
	.skills {
		flex-basis: 100%;
		background: none;

		.holder {
			@include holder(1);
			margin: 0 auto;

			h2 {
				border-bottom: 1px solid $border_color;
			}
			dt {
				flex: 40%;
				padding-left: 10%;
			}
			dd {
				flex: 50%;
				margin-right: 0;
			}
			dt:nth-of-type(even) {
				background: $gray;
			}
			dd:nth-of-type(even) {
				background: $gray;
			}
		}
	}
}

/*  Experience  */

	.experience {
		background: $gray;
		flex-basis: 50%;

		.holder {
			@include holder(2);
			margin-right: auto;
			margin-left: 10px;

			h2 {
				@include h2();
			}

			dl {
				margin-top: 10px;
				display: flex;
				flex-wrap: wrap;
			}
			$list_height: 30px;
			dt {
				flex-basis: 50%;
				height: $list_height;
				padding: 10px 0;

				.month {
					
				}
				.term {
					font-size: 70%;
					color: $subtext_color;
				}
			}
			dd {
				flex-basis: 50%;
				height: $list_height;
				padding: 10px 0;

				.company {
					vertical-align: top;
					color: $text_color;
				}
				.company:hover {
					text-decoration: underline;
				}
				.role {
					font-size: 70%;
					color: $subtext_color;
				}
			}
		}
	}

@media screen and (max-width: 768px) {
	.experience {
		flex-basis: 100%;
		background: none;

		.holder {
			@include holder(1);
			margin: 0 auto;

			h2 {
				border-bottom: 1px solid $border_color;
			}
			dt {
				flex: 42%;
				padding-left: 10%;
			}
			dd {
				flex: 48%;
				margin-right: 0;
			}
			dt:nth-of-type(even) {
				background: $gray;
			}
			dd:nth-of-type(even) {
				background: $gray;
			}
		}
	}
}


/*  Avout this site  */

	.about_this_site {
		flex-basis: 100%;
		padding-bottom: 20px;

		.holder {
			@include holder(1);
			height: 100%;
			margin: 0 auto;

			h2 {
				@include h2();
			}

			.description {
				margin-top: 12px;

				p {
					font-size: 90%;
					margin-top: 10px;
					line-height: 2.0em;
				}
			}
		}
	}

@media screen and (max-width: 768px) {
	.about_this_site {
		flex-basis: 100%;
		background: none;
		padding: 0 20px;

		.holder {
			margin: 0 auto;

			h2 {
				border-bottom: 1px solid $border_color;
			}

			dl {
				margin-top: 30px;
				padding: 0 30px;
			}
		}
	}
}

}

