@import "../config/config";


a.link {
	color: $blue;
}

a.link:hover {
	text-decoration: underline;
}

/* Body */

html,body {
	font-size: 15px;
	// letter-spacing: 0.02em;
	font-family: 'Roboto', 游ゴシック, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;

	@media screen and (max-width: 540px) {
		font-size: 14px;
	}
}

/*  Header  */

header {
	background-color: rgba($deep_blue, 0.95);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99;

	nav.global_nav {
		max-width: $pc-width;
		margin: 0 auto;
		height: $header_height;

		ul {
			display: flex;
			justify-content: flex-end;
		}

		li {

			a {
				display: block;
				font-size: 13px;
				width: 100px;
				height: $header_height;
				line-height: $header_height;
				text-align: center;
				color: #fff;
				transition: background 0.1s ease;
				border-radius: 4px;
			}
			a:hover {
				background: #4A5153;
			}
		}
	}
	nav#slicknav {
		display: none;
	}
}

@media screen and (max-width: 540px) {
	header {
		nav.global_nav {
			display: none;
		}
		nav#slicknav {
			display: block;
			width: 100%;
		}
	}
}

/*  Footer  */

footer {
	background-color: rgba($deep_blue, 0.95);

	nav {
		width: 400px;
		margin: 0 auto;
		padding: 20px 0;

		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				a{
					display: inline-block;
					color: #CCCDD0;
					width: 100px;
					text-align: center;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.copyright {
		color: #fff;
		font-size: 73%;
		text-align: center;
		padding-bottom: 10px;
	}
}


@media screen and (max-width: 540px) {
	footer {
		nav {
			width: 100%;
			padding: 5px 0;

			ul {
				li {
					width: 50%;
					a {
						width: auto;
						display: block;
						padding: 15px 20px;
					}
				}
			}
		}
	}
}






