@import "../config/config";


/*  Header  */

header {
	background-color: rgba($deep_blue, 0.95);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99;

	nav {
		max-width: $pc-width;
		margin: 0 auto;
		height: $header_height;

		ul {
			display: flex;
			justify-content: flex-end;
		}

		li {

			a {
				display: block;
				font-size: 13px;
				width: 100px;
				height: $header_height;
				line-height: $header_height;
				text-align: center;
				color: #fff;
				transition: background 0.1s ease;
				border-radius: 4px;
			}
			a:hover {
				background: #4A5153;
			}
		}
	}
}

/*  Footer  */

footer {
	background-color: rgba($deep_blue, 0.95);

	nav {
		width: 400px;
		margin: 0 auto;
		padding: 20px 0;

		ul {
			display: flex;

			li {
				a{
					display: inline-block;
					color: #97A8CB;
					font-size: 14px;
					width: 100px;
					text-align: center;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.copyright {
		color: #fff;
		font-size: 11px;
		text-align: center;
		padding-bottom: 10px;
	}
}