@import "../config/config";

$contact_pc_width: 700px;
$contact_tablet_width: 490px;

.contact-container {
	@include container();

/*   Heading  */

	#heading_bg {
		background: url(../img/bg/contact.jpg);
		@include heading_bg();

		h1 {
			@include h1_sub();
		}
	}


/*  Form  */

	#mail {
		max-width: $contact_pc_width;
		margin: 30px auto;
		height: auto;
		
		dl {
			display: flex;
			flex-wrap: wrap;
		}
		dt {
			flex-basis: 20%;
			height: 50px;
			line-height: 50px;
			text-align: right;
			font-size: 110%;
		}
		dd {
			flex-basis: 76%;
			margin-left: 20px;
			
			@mixin textarea() {
				border: 1px $border_color solid;
				box-shadow: 1px 1px 0px $border_color inset;
				background: #fafafa;
				padding: 0px 5px;
				color: $text_color;
				font-family: $sans-serif;
			}
			@mixin focus() {
				outline-color: $orange;
				outline-width: 3px;
			}
			input {
				height: 30px;
				margin-top: 10px;
				margin-right: 10px;
				border-radius: 4px;
				border: none;
				@include textarea();
			}
			input:focus {
				@include focus();
			} 
			textarea {
				border-radius: 4px;
				margin-top: 10px;
				@include textarea();
			}
			textarea:focus {
				@include focus();
			} 
		}
		.send {
			background: $orange;
			color: #fff;
			font-weight: bold;
			padding: 10px 50px;
			border: none;
			border-radius: 4px;
			display: block;
			margin: 30px auto 10px;
		}
		.send:hover {
			cursor: pointer;
			opacity: 0.8;
		}
		.send:focus {
			outline: none;
		}
	}

@media screen and (max-width: 768px) {
	#mail {
		max-width: $contact_tablet_width;

		dt {
			flex-basis: 100%;
			text-align: left;
			height: 30px;
			margin-top: 15px;
		}
		dt:first-child {
			margin-top: 0px;
		}
		dd {
			flex-basis: 100%;
			margin-left: 0px;
		}
	}
}

@media screen and (max-width: 540px) {
	#mail {
		width: auto;
		padding: 0 10px;

		dt {
			flex-basis: 100%;
			text-align: left;
			height: 30px;
			margin-top: 15px;
		}
		dt:first-child {
			margin-top: 0px;
		}
		dd {
			flex-basis: 100%;
			margin-left: 0px;

			input {
				max-width: 95%;
				padding: 0 5px;
			}
			textarea {
				width: 100%;
				padding: 0;
			}
		}
		.send {
			background: $orange;
			color: #fff;
			font-weight: bold;
			padding: 10px 50px;
			border: none;
			border-radius: 4px;
			display: block;
			margin: 30px auto 10px;
		}
		.send:hover {
			cursor: pointer;
			opacity: 0.8;
		}
		.send:focus {
			outline: none;
		}
	}
}

}


@media screen and (max-width: 540px) {

}
	
