@import "../config/config";

.top-container {
	@include container();

	#top_bg {
		height: 450px;
		width: 100%;
		
		background-image: url(../img/bg/top.jpg);
		background-size: 1300px auto;
		background-position: 50% 60%;
		position: relative;
		// transition: background-image 0.5s linear;

		@media screen and (min-width: 1300px) {
			background-size: cover;
		}
		@media screen and (max-width: 768px) {
			height: 350px;
			background-size: 800px auto;
		}
		@media screen and (max-width: 540px) {
			background-image: url(../img/bg/top_sp.jpg);
			height: 200px;
			background-size: 540px auto;
		}

		.overlay {
			position: absolute;
			background: rgba(#000, 0.1);
			width: 100%;
			height: 100%;
		}

		.title-container {
			position: absolute;
			height: 80px;
			width: auto;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			margin: auto;
			text-align: center;

			h1 {
				font-size: 260%;
				color: #fff;
				text-align: center;
				// text-shadow: 0px 0px 2px rgba(#000, 0.3);
			}
			.subtitle {
				color: #fff;
				font-size: 80%;
				letter-spacing: 0.4em;
				margin-top: -6px;
				// text-shadow: 0px 0px 1px rgba(#000, 0.3);
			}
			.do {
				color: #fff;
				font-size: 93%;
				margin-top: 30px;
				letter-spacing: 0.2em;
				// text-shadow: 0px 0px 1px rgba(#000, 0.3);
			}
		}
		@media screen and (max-width: 540px) {
			.title-container {
				height: 52px;

				h1 {
					font-size: 200%;
				}
				.subtitle {
					margin-top: -3px;
				}
				.do {
					font-size: 85%;
					margin-top: 20px;
				}
			}
		}
	}

	h2 {
		display: none;

		@media screen and (max-width: 540px) {
			display: block;
			width: 100%;
			margin: 30px 15px -5px;
			padding-bottom: 3px;
			font-weight: bold;
			border-bottom: solid 1px $border_color;
		}
	}
}






























