
@import "../config/config";

.works-container {
	@include container();

/*   Heading  */

	#heading_bg {
		background: url(../img/bg_works.jpg);
		@include heading_bg();

		h2 {
			font-size: 30px;
			font-weight: bold;
			color: #fff;
			line-height: 180px;
			text-align: center;
			background: rgba(#000, 0.00);

			text-shadow: 0 0 4px rgba(#000, 0.5);
		}
	}
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 540px) {

}
	
