
@import "../config/config";

.works-container {
	@include container();

/*   Heading  */

	#heading_bg {
		background: url(../img/bg_works.jpg);
		@include heading_bg();

		h1 {
			@include h1_sub();
		}
	}
}


/*  Works  */
.works {
	width: 100%;
	padding: 40px 30px;
	
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// align-content: space-between;

		li {
			flex-basis: 32%;
			position: relative;
			overflow: hidden;
			margin-bottom: 15px;
			border-radius: 4px;

			a {

			}
			img {
				position: absolute;
				width: 100%;
				height: auto;
				top: 0px;
				left: 0px;
			}
			.blur {
				position: absolute;
				top: 0%;
				left: 0%;
				width: 100%;
				height: 100%;
				opacity: 0.0;
				transition: opacity 0.1s ease;
			}
			.overlay {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 84%;
				height: 76%;
				background: rgba(#000, 0.55);
				color: #fff;
				padding: 12% 8%;
				text-shadow: 0px 0px 3px rgba(#000, 0.2);
				opacity: 0.0;
				transition: opacity 0.1s ease;

				.title {
					font-weight: bold;
					font-size: 120%;
					line-height: 1.6em;
				}

				.subtitle {
					margin-top: 3px;
					line-height: 1.4em;
				}

				.separator {
					margin: 20px 0 20px;
					width: 15px;
					height: 1px;
					background: #fff;
				}
				.media {
					// font-size: 0%;
					font-size: 100%;
				}
			}
		}
		li:before {
			content: "";
			display: block;
			padding: 32%;
		}
		a:hover > .overlay {
			opacity: 1.0;
		}
		a:hover > .blur {
			opacity: 1.0;
		}
	}
	a.more {
		display: block;
		margin: 40px auto 0;
		background: $deep_blue;
		color: #fff;
		width: 200px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-radius: 4px;
	}
	.more:hover {
		opacity: 0.8;
	}
}


@media screen and (max-width: 940px) {
	.works {
		padding: 30px 20px;
		ul {
			li {
				flex-basis: 48%;
			}
		}
	}	
}

@media screen and (max-width: 540px) {
	.works {
		padding: 15px 10px;
		ul {
			li {
				flex-basis: 100%;
				box-shadow: 0 1px 0 $border_color;

				a {

				}
				.blur {
					display: none;
				}
				.overlay {
					position: relative;
					opacity: 1.0;
					background: $gray;
					color: $text_color;
					text-shadow: none;
					padding: 3%;
					width: 94%;
					height: auto;

					.separator {
						background-color: $text_color;
						margin: 10px 0;
						height: 1px;
						width: 10px;
					}
					.media {
						font-size: 90%;
						color: $subtext_color;
					}
				}
			}
		}
		a.more {
			margin: 20px auto;
		}
	}	
}
	
