
@import "../config/config";


.work-container {
	@include container();
	max-width: $pc_width;

	@media screen and (max-width: 940px) {
		max-width: 620px;
		padding: 0 20px;
	}
	@media screen and (max-width: 768px) {
		max-width: 520px;
	}
	@media screen and (max-width: 540px) {
		width: auto;
		padding: 0 10px;
	}

/* Title */
	.title {
		margin: 30px 0px 20px;
		width: 100%;

		h1 {
			font-size: 160%;
			font-weight: bold;
			line-height: 1.4em;
		}
		.subtitle {
			font-size: 120%;
			color: $subtext_color;
			margin-top: 0px;
			line-height: 1.6em;
		}
	}

/* Main */

	.main {
		flex-basis: 620px;

		@media screen and (max-width: 940px) {
			width: 100%;
		}
		
		.article {
			img {
				width: 100%;
				margin: 20px 0;
			}
			img:first-child {
				margin-top: 0px;
			}		
			p {
				line-height: 2.0em;
				margin-bottom: 15px;
			}
			p:last-child {
				margin-bottom: 0px;
			}
			p.caption {
				font-size: 75%;
				text-align: center;
				margin: -10px 0; 
			}
			@media screen and (max-width: 940px) {
				img {
					margin: 15px 0;
				}
				p {
					margin-bottom: 20px;
				}
			}		
		}
	}

/*  Information  */
	.information {
		flex-basis: 290px;
		margin-left: auto;

		@media screen and (max-width: 940px) {
			flex-basis: 100%;
			margin-top: 40px;
		}

		dl {
			background: $gray;
			border-radius: 4px;
			padding: 25px 20px;
		}
		dt {
			font-size: 87%;
			font-weight: bold;
			margin: 5px 0 -5px;
		}
		dt:first-child {
			margin-top: 0px;
		}
		dd {
			margin: 2px 0 15px;
			display: inline-block;
			line-height: 1.4em;

			.members {

			}
			.role {
				font-size: 70%;
				color: $subtext_color;
				margin: -2px 0 5px;
			}
			.month {
				margin-top: 2px;
			}
			.term {
				font-size: 70%;
				color: $subtext_color;
				margin-top: 0px;
			}
		}
		@mixin visit_btn() {
			display: block;
			padding: 15px 65px;
			text-align: center;
			color: #fff;
			margin-top: 10px;
			border-radius: 4px;
			font-weight: bold;
		}
		a.link {
			color: $text_color;
			border-bottom: 1px dotted $text_color;
		}
		a.product_link {
			@include visit_btn();
			background: $orange;
			transition: opacity 0.1s ease;
			box-shadow: 0px 2px 0px #CACACA;
		}
		span {
			@include visit_btn();
			background: $subtext_color;
		}
		a.product_link:hover {
			opacity: 0.9;
		}
		a.product_link:active {
			box-shadow: none;
		}
	}
	
	.back {
		flex-basis: 620px;

		a.back {
			display: block;
			margin: 40px auto 0;
			background: $deep_blue;
			color: #fff;
			width: 200px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 4px;
		}
		a.back:hover {
			opacity: 0.9;
		}
	}
	

/* Paging */
	.paging {
		margin-top: 40px;
		padding-top: 20px;
		display: flex;
		margin-bottom: 50px;
		border-top: solid 1px $border_color;
		flex-basis: 620px;

		@mixin holder() {
			// background: $gray;
			width: 47%;
			display: inline-block;
			// border-radius: 4px;
			overflow: hidden;
			position: relative;

			img.thumb {
				width: 100%;
			}
			// .bottom {
			// 	position: relative;
			// }
			p {
				text-align: center;
				font-weight: bold;
				color: #5C5C5C;
				margin: 10px auto;
				max-width: 90%;
				line-height: 1.3em;
			}

			@mixin arrow() {
				display: none;
				width: 12px;
				height: auto;
				position: absolute;
				// bottom: 10px;
				// top: 34%;
			}
			.arrow_prev {
				@include arrow();
				left: 15px;
			}
			.arrow_next {
				@include arrow();
				right: 15px;
			}
		}
		a.prev {
			@include holder();
		}
		a.next {
			@include holder();
			margin-left: auto;
		}
	}
}

@media screen and (max-width: 940px) {

}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 540px) {

}
	
