
@import "../config/config";

$about_pc_width: 940px;

@mixin holder($ratio) {
	padding: 40px 0;
	// width: $about_pc_width/$ratio;
	max-width: $about_pc_width/$ratio;
}

.work-container {
	@include container();
	max-width: $about_pc_width;

/* Title */
	.title {
		margin-top: 30px;

		h1 {
			font-size: 24px;
			font-weight: bold;
		}
		.subtitle {
			font-size: 18px;
			color: #777;
		}
	}

/* Main */

	.main {
		flex-basis: 620px;
		
		.article {
			img {
				width: 100%;
				margin: 10px 0;
			}		
			p {
				font-size: 14px;
				line-height: 2.0em;
				margin-bottom: 20px;
			}			
		}
		a.back {
			display: block;
			margin: 40px auto 0;
			background: $deep_blue;
			color: #fff;
			width: 200px;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
			text-align: center;
			border-radius: 4px;
		}
		a.back:hover {
			opacity: 0.9;
		}
		.paging {
			margin-top: 40px;
			padding-top: 20px;
			display: flex;
			margin-bottom: 50px;
			border-top: solid 1px $border_color;

			@mixin holder() {
				background: $bg_gray;
				width: 47%;
				display: inline-block;
				border-radius: 4px;
				overflow: hidden;
				position: relative;

				img.thumb {
					width: 100%;
				}
				p {
					text-align: center;
					font-size: 14px;
					font-weight: bold;
					color: #5C5C5C;
					margin: 10px 0;
				}
			}
			@mixin arrow() {
				width: 12px;
				height: auto;
				position: absolute;
				bottom: 10px;
			}
			a.prev {
				@include holder();

				.arrow_prev {
					@include arrow();
					left: 15px;
				}
			}
			a.next {
				@include holder();
				margin-left: auto;

				.arrow_next {
					@include arrow();
					right: 15px;
				}
			}
		}
	}

/*  Information  */
	.information {
		flex-basis: 290px;
		margin-left: auto;

		dl {
			background: $bg_gray;
			border-radius: 4px;
			padding: 25px 20px;
		}
		dt {
			font-size: 11px;
			font-weight: bold;
		}
		dt:first-child {
			margin-top: 0px;
		}
		dd {
			font-size: 14px;
			margin: 0px 0 15px;
			display: inline-block;

			.members {

			}
			.role {
				font-size: 10px;
				margin: -2px 0 5px;
			}
			.month {
			}
			.term {
				font-size: 10px;
				margin-top: -2px;
			}
		}
		a {
			display: inline-block;
			padding: 15px 65px;
			background: $orange;
			color: #fff;
			margin-top: 10px;
			border-radius: 4px;
			font-size: 14px;
			font-weight: bold;
			box-shadow: 0px 2px 0px #CACACA;
			transition: opacity 0.1s ease;
		}
		a:hover {
			opacity: 0.9;
		}
		a:active {
			box-shadow: none;
		}
	}
	
	.outline {
		background: $bg_gray;
		flex-basis: 50%;

		.holder {
			@include holder(2);
			margin-left: auto;

			.subtitle {
				font-size: 14px;
				font-weight: bold;
			}
			.description {
				font-size: 14px;
				margin-top: 16px;
				line-height: 1.8em;
			}

			a {
				display: inline-block;
				padding: 15px 65px;
				background: $orange;
				color: #fff;
				margin-top: 30px;
				border-radius: 4px;
				font-size: 14px;
				font-weight: bold;
			}
			a:hover {
				opacity: 0.9;
			}
		}
	}
	.detail {
		background: $bg_gray;
		flex-basis: 50%;

		.holder {
			@include holder(2);
			margin-right: auto;

			
		}
	}
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 540px) {

}
	
